<%- include('partials/header') %>

    <div>
      <img class="app-logo" src="images/new-logo.png" />
      <a class="btn btn-light" href="/register" role="button">Register</a>
      <a class="btn btn-dark" href="/login" role="button">Login</a>
    </div>

<%- include('partials/footer') %>
